@page "/"
@using NotificationManager
@using Farmetta.Client.Components
@inject NotificationSender NotificationSender
@inject IJSRuntime JS

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="RequestNotificationPermission">Request Notification Permission</button>
<button @onclick="TestPushNotification">Push</button><br/>

<a href="/MoonrakerAPITest">MoonrakerAPITest</a>
<button @onclick="() => testModal.Open()">Open Modal</button>

<Modal Title="Test Modal" @ref="testModal">
    <h2>Test Content</h2><br />
    <h3>More Content</h3>
</Modal>
@message

@code
{
    Modal testModal;
    string message = "";
    async Task RequestNotificationPermission()
    {
        await NotificationSender.RequestNotificationPermission(1);
        message = "Requested";
    }

    async Task TestPushNotification()
    {
        await NotificationSender.SendNotificationAll("{\"title\": \"Farmetta: Your Print is Done!\", \"data\": \"My Data\"}");
        WaitForNotification();
    }

    async void WaitForNotification()
    {
        await Task.Delay(30000);
        
        await NotificationSender.SendNotificationAll("{\"title\": \"Farmetta: Your Print is Done!\", \"data\": \"My Data\"}");
    }
}
