@page "/MoonrakerAPITest"
@rendermode InteractiveServer

<h3>MoonrakerAPITest</h3>

<button @onclick="Connect">Connect</button><br/>
<h3>Status: @_status</h3>
<br/>
<p style="border: 1px solid; padding: 5px">@messages</p>
